@awesome.me:registry=https://npm.fontawesome.com/
@fortawesome:registry=https://npm.fontawesome.com/
@bitsandletters:registry=https://npm.pkg.github.com/
//npm.fontawesome.com/:_authToken=${FONT_AWESOME_TOKEN}
//npm.pkg.github.com/:_authToken=${GITHUB_ACCESS_TOKEN} 